body{
    margin: 0px;
    padding: 0px;
    background-color: greenyellow;
}

.container{
    width: 100%;
    margin: 0 auto;
}
.first, .second, .third{
    width: 31%;
    float: left;
    margin: 1%;
}
.first{
    background-color: skyblue;
}
.second{
    background-color: antiquewhite;
}
.third{
    background-color: burlywood;
}